---
---

@import "{{ site.theme }}";

// header{
//   margin-left: -150px;
// }

img {
//   margin-left: -150px;
  width: 70%;
  height: auto;
  border-radius: 50%;
}

h1 {
  color: black;
//   margin-left:-150px;
  
}

// section{
//   margin-left: -50px;
// }
