---
---

@import "{{ site.theme }}";

// header{
//   margin: auto;
// }

img {
//   margin-left: -150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  width: 70%;
  height: auto;
  border-radius: 50%;
}

h1 {
//   margin-left: auto;
//   margin-right: auto;
  text-align: center;
  color: black;
  font-size: large;
//   margin-left:-150px;
  
}

// p{
//   text-align: center;
// //   margin-left: 60px;
// }

section{
//   margin-left: -50px;
  text-align: left;
}
