---
---

@import "{{ site.theme }}";

header{
  margin-left: -150px;
}

img {
//   margin-left: -150px;
  width: 70%;
  height: auto;
  border-radius: 50%;
}

h1 {
//   margin-left:-150px;
  color: "black";
}

