<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css">
  </head>
  
  <body>
    
    <!-- Side navigation -->
<!--     <div class="sidenav">
      <a href="#header">Info</a>
      <a href="#">About Me</a>
      <a href="#">Projects</a>
      <a href="#">Awards</a>
    </div> -->

    
  
    <div class="wrapper">
      <header>
        
        <img src="/assets/img/IMG_5254_2.JPG"/>
        
        <h1 style="text-align:center; color:rgb(75,75,75); font-size:x-large; font-family:Helvetica;">Dung Nguyen</h1>
        
        <p style="text-align:center; color:gray; font-size:16px; margin-bottom:10px;">Master's student</p>
        
       
        <p style="text-align:left; margin-left:115px;"><a href="mailto: thuydzungnguyen0599@gmail.com" style="color:#807e7e; text-decoration:none; font-size:14px"><i class="fas fa-envelope fa-lg" style="color:#447a9e"></i>&nbsp;&nbsp;Email</a></small></p>

        {% if site.github.is_project_page %}
        <p class="view"><a href="{{ site.github.repository_url }}">View the Project on GitHub <small>{{ site.github.repository_nwo }}</small></a></p>
        {% endif %}

        {% if site.github.is_user_page %}
        <p class="view" style="text-align:left; margin-left:115px;"><a href="{{ site.github.owner_url }}" target="_blank" style="color:#807e7e; text-decoration:none; font-size:14px"><i class="fab fa-github fa-lg" style="color:#211F1F"></i>&nbsp;&nbsp;GitHub</a></p>
        {% endif %}

        <p style="text-align:left; margin-left:116px;"><a href="https://www.linkedin.com/in/dung-nguyen99/" target="_blank" style="color:#807e7e; text-decoration:none; font-size:14px"><i class="fab fa-linkedin fa-lg" style="color:#2867B2"></i>&nbsp;&nbsp;LinkedIn</a></small></p>
        <p style="text-align:left; margin-left:117px;"><a href="https://drive.google.com/file/d/15ctwYa_nYXAMdBn_tlGsC54vKfRfaPZN/view?usp=sharing" target="_blank" style="color:#807e7e; text-decoration:none; font-size:14px"><i class="fas fa-file-alt fa-lg" style="color:#4f4a46"></i>&nbsp;&nbsp;CV</a></small></p>

        {% if site.show_downloads %}
        <ul class="downloads">
          <li><a href="{{ site.github.zip_url }}">Download <strong>ZIP File</strong></a></li>
          <li><a href="{{ site.github.tar_url }}">Download <strong>TAR Ball</strong></a></li>
          <li><a href="{{ site.github.repository_url }}">View On <strong>GitHub</strong></a></li>
        </ul>
        {% endif %}
      </header>
      <section align="left">

      {{ content }}

      </section>

    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
    {% if site.google_analytics %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', '{{ site.google_analytics }}', 'auto');
      ga('send', 'pageview');
    </script>
    {% endif %}
  </body>
</html>
